<div class="comments">
  {{#each this}}
  <section class="comment mb-2">
    <div class="meta text-xl">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text-lg">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

