<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All-Star Profiles</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="wrapper">
    <header class="h-20">
      <h1 class="font-bold text-4xl ">
        <i class="fa-solid fa-basketball"></i> <a href="/">All-Star Profiles</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard" class="text-2xl hover:text-blue-600 transition duration-300 ease-in-out ">Dashboard </a>  
        <button id="logout" class="btn-no-style font-bold text-2xl hover:text-blue-600 transition duration-300 ease-in-out ">LOGOUT</button>
        {{else}}
        <a class="font-bold text-3xl hover:text-blue-600 transition duration-300 ease-in-out " href="/login">LOGIN</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
        Group 3 &copy; 2022
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>