<section class="">
  <h2>Create New Post</h2>

  <div>
    <form class="new-post-form block p-6 rounded-lg shadow-lg bg-white max-w-md">
    <div class="form-group mb-6">
      <label for="post-title">Title</label>
      <input type="text" id="post-title" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" name="post-title" />
    </div>
    <div class="form-group mb-6">
        <label for="post-url">Post URL</label>
        <input id="post-url" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" name="post-url"/>
    </div>
    <div class="form-group mb-6">
      <label for="post-text">Post Text</label>
      <input id="post-text" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" name="post-text" />
    </div>
    <button type="submit" class=" btn
      w-full
      px-6
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out">Create</button>
  </form>
  </div>
  
</section>

{{#if posts.length}}
<section class="">
  <h2 class="flex justify-center">Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li >
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="flex justify-center edit-link btn inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>