<!-- login form -->
<form class="login-form mt-2">
  <div class="pb-2">
    <label for="email-login">Email:</label>
    <input type="text" class="border border-black" id="email-login" />
  </div>
  <div class="pb-2">
    <label for="password-login">Password:</label>
    <input type="password" class="border border-black" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">LOGIN</button>
  </div>
</form>

<!-- sign up form -->
<form class="signup-form mt-4">
  <div class="pb-2">
    <label for="username-signup">Username:</label>
    <input type="text" class="border border-black" id="username-signup" />
  </div>
  <div class="pb-2">
    <label for="email-signup">Email:</label>
    <input type="text" class="border border-black" id="email-signup" />
  </div>
  <div class="pb-2">
    <label for="password-signup">Password:</label>
    <input type="password" class="border border-black" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">SIGNUP</button>
  </div>
</form>

<!-- using validator instead of npm require -->
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="/javascript/login.js"></script>
