{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form py-6">
  <div>
    <textarea name="comment-body" class=" w-1/2 border border-black"></textarea>
  </div>

  <div>
    <button type="submit" class="btn px-6
      py-2.5
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150 ease-in-out">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}